</br>
</br>
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to  BlogApp</h1>
  <p class="lead">The best place you can find cool stuffs on the planet</p>
  <hr class="my-4">
  <p><h3>Share your ideas to the world!</h3></p>
  </br>
  <a class="btn btn-danger btn-lg" href="#" role="button">Sign UP</a>
</div> 
</div>